{% set navigation_bar = [ ('settings', 'Settings'), ('contact', 'Contact') ] -%} {% set active_page = active_page|default('settings')
-%}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ config['APP_TITLE'] }}</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand" href="{{ url_for('auth.settings') }}">{{ config['APP_TITLE'] }}</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% if current_user.is_authenticated %} {% for id, caption in navigation_bar %}
					<li{% if id==active_page %} class="active" {%endif%}><a href="{{ url_for('auth.' + id) }}">{{ caption|e }}</a></li>
						{% endfor %} {%endif%}
				</ul>

				{% if current_user.is_authenticated %}
				<a class="navbar-text navbar-right" href="{{ url_for('auth.logout') }}">logout</a>
				<p class="navbar-text navbar-right">logged in as {{ current_user.username }}</p>
				{%endif%}
			</div>
		</div>
	</nav>

	<div class="container" role="main">
		<div class="content">
			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="alert alert-{{category}} alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{ message }}
			</div>
			{% endfor %} {% block container %}{% endblock %}
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> {% block scripts %} {% endblock %}
</body>

</html>