{% extends 'base.html' %} {% block container %}

<form method="POST" action="{{ url_for('auth.login') }}" role="form">
	{{ form.csrf_token }}

    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" id="username" name="username" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>

	<button type="submit" class="btn btn-default">Login</button>
</form>

{% endblock %}
