{% extends 'base.html' %}
{% set active_page = 'settings' %}
{% block container %}

<form method="POST" action="{{ url_for('auth.save') }}" role="form">
	{{ form.csrf_token }}

    <fieldset>
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control" id="current_password" name="current_password">
        </div>
    </fieldset>

    <fieldset>
        <legend>Password</legend>

        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password">
        </div>

        <div class="form-group">
            <label for="repeat_password">Repeat Password</label>
            <input type="password" class="form-control" id="repeat_password" name="repeat_password">
        </div>
    </fieldset>

    {% if current_user.has_mail %}
    <fieldset>
        <legend>E-Mail</legend>
        <div class="form-group">
            <label for="sieve">Sieve</label>
            <em>(take a look at the <a href="https://en.wikipedia.org/wiki/Sieve_%28mail_filtering_language%29#Example">examples</a> for the sieve language)</em>
            <textarea class="form-control" rows="10" id="sieve" name="sieve">{{ current_user.sieve }}</textarea>
        </div>

        <div class="form-group">
            <label for="spamassassin">Spamassassin</label>
            <em>(take a look at the <a href="https://spamassassin.apache.org/full/3.1.x/doc/Mail_SpamAssassin_Conf.html#user_preferences">rules</a> for spamassassin)</em>
            <textarea class="form-control" rows="10" id="spamassassin" name="spamassassin">{{ current_user.spamassassin }}</textarea>
        </div>
    </fieldset>
    {%endif%}

	<button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}
